appdirs==1.4.4
attrs==21.4.0
Brotli==1.0.9
cattrs==1.10.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
cycler==0.11.0
dash==2.3.1
dash-bootstrap-components==1.1.0
dash-core-components==2.0.0
dash-extensions==0.1.0
dash-html-components==2.0.0
dash-table==5.0.0
EditorConfig==0.12.3
fastf1==2.2.3
Flask==2.1.1
Flask-Caching==1.10.1
Flask-Compress==1.11
fonttools==4.33.2
greenlet==1.1.2
idna==3.3
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
jsbeautifier==1.14.3
kiwisolver==1.4.2
MarkupSafe==2.1.1
matplotlib==3.5.1
more-itertools==8.12.0
numpy==1.22.3
packaging==21.3
pandas==1.4.2
Pillow==9.1.0
plotly==5.7.0
pyodbc==4.0.32
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
requests-cache==0.9.4
scipy==1.8.0
signalr-client-aio==0.0.1.6.2
six==1.16.0
SQLAlchemy==1.4.35
tenacity==8.0.1
thefuzz==0.19.0
timple==0.1.5
url-normalize==1.4.3
urllib3==1.26.9
websockets==10.3
Werkzeug==2.1.1
zipp==3.8.0
